<div class="divd">

    <div>
        <h5 *ngFor="let element of data1">{{element}}</h5>
        <button (click)="onSubscribe1()">Subscribe</button>
        <button (click)="onUnsubscribe1()">UnSubsribe</button>
    </div>

    <div>
        <h5 *ngFor="let element of data2">{{element}}</h5>
        <button (click)="onSubscribe2()">Subscribe</button>
        <button (click)="onUnsubscribe2()">UnSubsribe</button>
    </div>

    <div>
        <h5 *ngFor="let element of data3">{{element}}</h5>
        <button (click)="onSubscribe3()">Subscribe</button>
        <button (click)="onUnsubscribe3()">UnSubsribe</button>
    </div>

</div>


<div class="footer">

</div>
