<h3>Data transfer to component using service and observables</h3>
<p>-filteration of data using map and filter</p>

<app-demo></app-demo>

<br><br>

<h3>Non related component communication using observables</h3>
<app-subjects></app-subjects>

<br><br>

<h3>Observables vs subjects </h3>
<app-subject-vs-observables></app-subject-vs-observables>

<br><br>


<h3>Behaviour subjects</h3>
<app-behaviour-subjects></app-behaviour-subjects>
<br><br>

<h3>Replay subject</h3>
<app-replay-subject></app-replay-subject>

<br><br>
<h4>Async Subjects</h4>
<app-async-subjects></app-async-subjects>


<br><br>
<h4>Unsubscriber</h4>
<app-unsubscribe></app-unsubscribe>